@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.fo {
  position: static;
  bottom: 0;
  right: 0;
  width: 100vw;
  margin-top: 20px;
}
li {
    margin-bottom: 10px;
    
    fa-icon {
      

    font-size: 25px;
    margin-right: 20px;
  }
}
p{
    // font-family: 'Pacifico', cursive;
    text-align: justify;
    font-size: 14px;
}