<footer class="bg-dark text-center text-white fo" *ngIf="showsnip">
  <!-- Grid container -->
  <div class="container p-4">
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-6 mb-md-12">
          <ul class="list-unstyled mb-0">
            <li>
              <fa-icon [icon]="faMapMarker"></fa-icon>
              <a class="text-white"> Tehran,Iran </a>
            </li>
            <li>
              <fa-icon [icon]="faPhone"></fa-icon>
              <a class="text-white">+98 000111</a>
            </li>
            <li>
              <fa-icon [icon]="faEnvelope"></fa-icon>
              <a class="text-white">.@mail.com</a>
            </li>
            <li>
              <fa-icon [icon]="faNewspaper"></fa-icon>
              <a class="text-white">lastnews.co</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-6 mb-md-12">
          <h3>About the company</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright: MOHAMMAD.R AFSHAR
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
