
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.onerow{
    font-family: 'Patrick Hand', cursive;
    margin-top: 20px;
    img{
        width: 100%;
        height: 50vh;
        border-radius: 10px;
        &:hover{
            opacity: 0.6;
            transition: 0.75s;
        }
    }
    .title{
        p{
            font-size: 25px;
        }
        span{
            color: gray;
        }
    }
}

.tit{
    font-family: 'Patrick Hand', cursive;
    margin-top: 30px;
    color: red;
    fa-icon{
        font-size: 25px;
        margin-right: 5px;
        
    }
    
}
.tworow{
    font-family: 'Patrick Hand', cursive;
    
    img{
        width: 100%;
        height: 200px;
        border-radius: 10px;
        &:hover{
            opacity: 0.6;
            transition: 0.75s;
        }
    }
    .title{
        p{
            font-size: 15px;
        }
        span{
            color: gray;
        }
    }
}