<app-header></app-header>
<div class="container">   
    <div class="row onerow" *ngFor="let post of entertArray">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img src="{{ post.articles[0].urlToImage }}" onerror="this.src='../../assets/img/onerooe/entertainment.jpg'">
            <div class="title">
                <p>{{ post.articles[0].title }}</p>
                <span>
                    <fa-icon [icon]="faClock"></fa-icon>
                {{ post.articles[0].publishedAt.slice(11, 19) }}
                </span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img src="{{ post.articles[1].urlToImage }}" onerror="this.src='../../assets/img/onerooe/entertainment.jpg'">
            <div class="title">
                <p>{{ post.articles[1].title }}</p>
                <span>
                    <fa-icon [icon]="faClock"></fa-icon>
                {{ post.articles[1].publishedAt.slice(11, 19) }}
                </span>
            </div>
        </div>
    </div>
    
    <div class="row tit">
        <fa-icon [icon]="faChessQueen"></fa-icon>
        
        <h3>Last News</h3>
    </div>
    <div class="row tworow" *ngFor="let post of entertArray">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="{{ post.articles[2].urlToImage }}" onerror="this.src='../../assets/img/onerooe/entertainment.jpg'">
            <div class="title">
                <p>{{ post.articles[2].title }}</p>
                <span>
                    <fa-icon [icon]="faClock"></fa-icon>
                {{ post.articles[2].publishedAt.slice(11, 19) }}
                </span>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="{{ post.articles[3].urlToImage }}" onerror="this.src='../../assets/img/onerooe/entertainment.jpg'">
            <div class="title">
                <p>{{ post.articles[3].title }}</p>
                <span>
                    <fa-icon [icon]="faClock"></fa-icon>
                {{ post.articles[3].publishedAt.slice(11, 19) }}
                </span>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="{{ post.articles[4].urlToImage }}" onerror="this.src='../../assets/img/onerooe/entertainment.jpg'">
            <div class="title">
                <p>{{ post.articles[4].title }}</p>
                <span>
                    <fa-icon [icon]="faClock"></fa-icon>
                {{ post.articles[4].publishedAt.slice(11, 19) }}
                </span>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="{{ post.articles[5].urlToImage }}" onerror="this.src='../../assets/img/onerooe/entertainment.jpg'">
            <div class="title">
                <p>{{ post.articles[5].title }}</p>
                <span>
                    <fa-icon [icon]="faClock"></fa-icon>
                {{ post.articles[5].publishedAt.slice(11, 19) }}
                </span>
            </div>
        </div>
    </div>
    
    <div class="row tworow" *ngFor="let post of entertArray">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="{{ post.articles[6].urlToImage }}" onerror="this.src='../../assets/img/onerooe/entertainment.jpg'">
            <div class="title">
                <p>{{ post.articles[6].title }}</p>
                <span>
                    <fa-icon [icon]="faClock"></fa-icon>
                {{ post.articles[6].publishedAt.slice(11, 19) }}
                </span>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="{{ post.articles[7].urlToImage }}" onerror="this.src='../../assets/img/onerooe/entertainment.jpg'">
            <div class="title">
                <p>{{ post.articles[7].title }}</p>
                <span>
                    <fa-icon [icon]="faClock"></fa-icon>
                {{ post.articles[7].publishedAt.slice(11, 19) }}
                </span>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="{{ post.articles[8].urlToImage }}" onerror="this.src='../../assets/img/onerooe/entertainment.jpg'">
            <div class="title">
                <p>{{ post.articles[8].title }}</p>
                <span>
                    <fa-icon [icon]="faClock"></fa-icon>
                {{ post.articles[8].publishedAt.slice(11, 19) }}
                </span>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="{{ post.articles[9].urlToImage }}" onerror="this.src='../../assets/img/onerooe/entertainment.jpg'">
            <div class="title">
                <p>{{ post.articles[9].title }}</p>
                <span>
                    <fa-icon [icon]="faClock"></fa-icon>
                {{ post.articles[9].publishedAt.slice(11, 19) }}
                </span>
            </div>
        </div>
    </div>
    
    <app-comment></app-comment>
    <app-linkmenu></app-linkmenu>
    </div>

    <app-footer></app-footer>