<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-hover-zoom">
    <div class="card-img-overlay title">
      <a [routerLink]="['/']">
        <img src="../../assets/img/onerooe/index-news.jpg" alt="" />
      </a>
      <div class="text-block">
        <a [routerLink]="['/']">Last News</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-hover-zoom">
    <div class="card-img-overlay title">
        <a [routerLink]="['/business']">
          <img src="../../assets/img/onerooe/busuiness.jpg" alt="" />
        </a>
        <div class="text-block">
          <a [routerLink]="['/business']">Business</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-hover-zoom">
        <div class="card-img-overlay title">
            <a [routerLink]="['/sport']">
              <img src="../../assets/img/onerooe/sport2.jpg" alt="" />
            </a>
            <div class="text-block">
              <a [routerLink]="['/sport']">Sport</a>
            </div>
          </div>
        </div>
  </div>


<div class="row mb">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-hover-zoom">
    <div class="card-img-overlay title">
        <a [routerLink]="['/health']">
          <img src="../../assets/img/onerooe/health.jpg" alt="" />
        </a>
        <div class="text-block">
          <a [routerLink]="['/health']">Health</a>
        </div>
      </div>
   
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-hover-zoom">
    <div class="card-img-overlay title">
        <a [routerLink]="['/technology']">
          <img src="../../assets/img/onerooe/technology.jpg" alt="" />
        </a>
        <div class="text-block">
          <a [routerLink]="['/technology']">Technology</a>
        </div>
      </div>
   
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-hover-zoom">
    <div class="card-img-overlay title">
        <a [routerLink]="['/entertainment']">
          <img src="../../assets/img/onerooe/entertainment.jpg" alt="" />
        </a>
        <div class="text-block">
          <a [routerLink]="['/entertainment']">Entertainment</a>
        </div>
      </div>
   
  </div>
</div>
